# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignore Firebase & API Keys
.env
firebase.json
firestore.rules
serviceAccountKey.json
Securitycode
# API Keys
*.key
*.keys
*.secret
*.secrets
*.credentials
OPENFOODFACT_API_KEY
EDAMAM_APP_ID
EDAMAM_APP_KEY
CALORIENINJAS_API_KEY
FATSECRET_CONSUMER_KEY
FATSECRET_CONSUMER_SECRET
